.container_acesso{
    background-color: gray;
    width: 500px;
    height: 500px;
    margin-left: 845px;
    padding: 100px;
    border-radius: 25px;
    box-shadow: 3px 6px 6px #000;
    margin-top: 200px;
  }
  