<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="st.css">
    <title>Quitanda do Zé :: {{title}}</title>
    <link rel="shortcut icon" href="/static/img/logoico.svg" type="image/x-icon">
    <!-- CSS Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- CSS Icons -->
    <link rel="stylesheet" href="https://cdnjsdelivrnet/npm/bootstrap-icons@1111/font/bootstrap-iconscss">
</head>

<div class="d-flex flex-column wrapper">
    <header>
        <!-- Barra de Navegação (Navbar) -->
        <nav class="navbar navbar-expand-lg bg-success shadow border-bottom border-3 border-dark border-opacity-25">
            <div class="container">
                <!-- Ícone da loja -->
                <i class="bi bi-shop-window text-white fw-bolder fs-4 me-1"></i>
                <a class="navbar-brand text-light fw-bolder" href="#">Quitanda do Zé</a>
                <!-- Botão de alternância para telas menores -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" data-bs-theme="dark" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- Lista de links na barra de navegação -->
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active text-light fw-semibold" aria-current="page" href="#">Principal</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light fw-semibold" aria-current="page" href="#">Quem somos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light fw-semibold" aria-current="page" href="#">Contatos</a>
                        </li>
                    </ul>
                    <!-- Formulário de pesquisa -->
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                        <button class="btn btn-danger" type="submit">Buscar</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <main class="flex-fill">
        <h1 class="text-center">Ofertas da Semana</h1>
        <div class="container">
            <div class="row g-3">
                <div class="col-12 col-sm-6 col-lg-4"><div class="card">
                    <img src="img/saco de fruta/blueberry.jpg" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">Blueberry</h5>
                      <p class="card-text">Fruta pequena e arroxeada, cheia de antioxidantes e sabor adocicado.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div></div>
                <div class="col-12 col-sm-6 col-lg-4"><div class="card">
                    <img src="img/saco de fruta/macaa.jpg" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">Maça</h5>
                      <p class="card-text">Fruta suculenta e crocante, fonte de fibras e vitaminas.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div></div>
                <div class="col-12 col-sm-6 col-lg-4"><div class="card">
                    <img src="img/saco de fruta/abacate.jpg" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">Abacate</h5>
                      <p class="card-text">Fruta cremosa e verde, rica em gorduras saudáveis e vitamina E.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div></div>
                <div class="col-12 col-sm-6 col-lg-4"><div class="card">
                    <img src="img/saco de fruta/manga.jpg" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">Manga</h5>
                      <p class="card-text">Fruta tropical de polpa macia e doce, repleta de vitamina A e fibras.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div></div>
                <div class="col-12 col-sm-6 col-lg-4"><div class="card">
                    <img src="img/saco de fruta/morango.jpg" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">Morango</h5>
                      <p class="card-text">Fruta vermelha e suculenta, rica em vitamina C e antioxidantes.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div></div>
                <div class="col-12 col-sm-6 col-lg-4"><div class="card">
                    <img src="img/saco de fruta/uvaitalia.jpg" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">Uva Itáliana</h5>
                      <p class="card-text">Fruta suculenta e verde, ideal para sucos e rica em polifenóis.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div></div>
                <div class="col-12 col-sm-6 col-lg-4"><div class="card">
                    <img src="img/saco de fruta/uvaroxa.jpg" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">Uva roxa</h5>
                      <p class="card-text">Fruta doce e suculenta, fonte de resveratrol e antioxidantes.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div></div>
                <div class="col-12 col-sm-6 col-lg-4"><div class="card">
                    <img src="img/saco de fruta/abacaxi.jpg" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">Abacaxi</h5>
                      <p class="card-text">Fruta tropical de sabor doce e ácido, fonte de vitamina C e bromelina.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div></div>
                <div class="col-12 col-sm-6 col-lg-4"><div class="card">
                    <img src="img/saco de fruta/banana.jpg" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">Banana</h5>
                      <p class="card-text">Fruta alongada e amarela, rica em potássio e energia.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div></div>
                <div class="col-12 col-sm-6 col-lg-4"><div class="card">
                    <img src="img/saco de fruta/limao.png" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">Limão</h5>
                      <p class="card-text">Fruta cítrica pequena e azeda, repleta de vitamina C e antioxidantes.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div></div>
                <div class="col-12 col-sm-6 col-lg-4"><div class="card">
                    <img src="img/saco de fruta/tangerina.jpg" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">Tangerina</h5>
                      <p class="card-text">Fruta cítrica fácil de descascar, rica em vitamina C e refrescante.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div></div>
                <div class="col-12 col-sm-6 col-lg-4"><div class="card">
                    <img src="img/saco de fruta/coco.jpg" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">Coco</h5>
                      <p class="card-text"> Uma fruta tropical com uma casca dura que contém uma carne branca e cremosa.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div></div>
            </div>
        </div>
        <br>
    </main>
    <footer class="border-top bg-light shadow border-3 border-dark border-opacity-25">
        <div class="container p-5">
            <div class="row p-3">
                <div class="col-12 col-sm-6 col-md-4 text-center">
                    &copy; 2023 - Quitanda do Zé Ltda - ME
                    <br>
                    Rua Érico Pimental Dias, 187, Itapeva/SP
                    <br>
                    CNPJ 99999999/00001-99
                </div>
                <div class="col-12 col-sm-6 col-md-4 text-center">
                    Política de Privacidade
                    <br>
                    Termos de Uso
                    <br>
                    Trocas e Devoluções
                </div>
                <div class="col-12 col-sm-6 col-md-4 text-center">
                    Contato pelo Site
                    <br>
                    contato@quitandadozecombr
                    <br>
                    Cel: 15 99999-9999
                </div>
                <div class="col-12 col-sm-6 col-md-4 text-center">

                </div>
            </div>
        </div>
    </footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</body>

</html>